# Schneider Electric PLC files
*.bak
*.tmp
*.~*
*.STU
*.PRJ
*.XDB

# Allow XEF exports
!src/main/original/exports/*.XEF

# Project directories
src/main/original/STU/*
src/main/original/XDB/*
src/main/original/XEF/*
!src/main/original/exports/*.XEF

# Keep directory structure
!src/main/original/STU/.gitkeep
!src/main/original/XDB/.gitkeep
!src/main/original/XEF/.gitkeep