# Binary PLC files
*.STU
*.XDB
src/main/original/STU/*
src/main/original/XDB/*

# Allow XEF exports
!exports/current/*.XEF
!exports/backup/*/*.XEF

# Keep structure
!src/main/original/STU/.gitkeep
!src/main/original/XDB/.gitkeep